* { margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

p{
    margin: 3px;
    /* padding: 0 10px; */
    text-align: left;
    color: #666;
}
body{
    background-color: #e0e0e0;
    font-family:Arial, Helvetica, sans-serif;
    color:black;    
    height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    max-width: 1000px;
    margin: 10% auto;
    display: flex;
    
     
    /*display: grid; 
    grid-gap: 20px; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, auto); 
    grid-template-areas:
    "nav nav nav nav"
    "contenido contenido contenido"
    "bloque1 bloque2" /*Marcos Texto Fotos*/
    /*"footer footer footer" */
}
nav{
    background-color:#7e7c7c;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /*grid-area: nav; */
    display: flex;
    padding: 30px;
    border-radius: 20 px;
    justify-content: space-between; /* Los elementos se distribuyen de manera que haya espacio igual entre ellos. El primer y último elemento estarán alineados con los bordes del contenedor.*/
    
}
nav ul{ /* nav ul, es para aplicarle estilos SOLO a la lista (Zoom, anfitriones y Discord)*/
    display: flex;
    /* flex-direction: column; */ 
    list-style: none; /* Para quitar el punto de la lista de zoom, anfitriones y discord*/
    gap: 30px;
 }
.contenido{
    /*grid-area: contenido;*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cart{
    background-color: lightsalmon;
    color:rgb(172, 101, 8);
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(81, 80, 82);
    align-items: center;
    flex-direction: column;
    min-width: 230px;
    padding: 7%; /* organiza los elementos de un contenedor de manera VERTICAL, uno debajo del otro.*/
    margin: 3%;
}
img{
    width: 150px;
    height: 125px;
}
img:hover{
    max-width: 100%;
    transform: scale(1.1);
}

h3{
    margin: 25%;
    color: brown;
}

/*
#bloque1{
    grid-area: bloque1;
    background-color: rgb(175, 209, 248);    
}
#bloque2{
    grid-area: bloque2;
    background-color: burlywood;
} */
 

li{
    color: blanchedalmond;
}

li:hover {
    /que al pasar el ratón por encima resalte/
    transform: scale(1.1);
    font-size: 22px;
    color: rgb(246, 142, 14);
  }
a{
    text-decoration: none; /*quitar rayita al enlace de Zoom, Anfitriones y Discord */
}
.copy{
    color: white;
}

footer{
position: fixed;
bottom: 0;
width: 100%;
background-color: gray;
grid-area: footer;
padding: 20Px;
border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;    
}

.footer-p{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: white;   
}

    @media (max-width: 750px){
        main{
            flex-direction: column;
        }
    }

